.input {
    border-radius: 1rem;
}
.title {
    text-align: center;
    margin-top: 6rem;
}
.content {
    width: 80%;
    margin: 0 auto;
}
.text {
    color: gray;
    margin-bottom: 1rem;
    text-align: left;
}
button {
    width: 80%;
    height:2rem;
    color: white;
    margin-left: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
}

.space{
    margin-top: 3vh;
}
