<ion-header>
  <ion-toolbar>
    <ion-button slot="start" size="small" (click)="back()">
      返回
    </ion-button>
    <div class="loghead">
      <!-- 给zzy的圣诞礼物 -->
      <ion-title>Game</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="btnsize" color="light" (click)="c()"></ion-button>
  <ion-button class="btnsize" color="light" (click)="d()"></ion-button>
  <ion-button class="btnsize" color="light" (click)="e()"></ion-button>
  <ion-button class="btnsize" color="light" (click)="f()"></ion-button>
  <ion-button class="btnsize" color="light" (click)="g()"></ion-button>
  <ion-button class="btnsize" color="light" (click)="a()"></ion-button>
  <ion-button class="btnsize" color="light" (click)="b()"></ion-button>
  <ion-button class="btnsize" color="light" (click)="c2()"></ion-button>
</ion-content>